<% include ../partials/header %>

    

    <!-- 'blogs' comes in through the index route '.find({})' -->
    <% blogs.forEach(blog =>{ %>
        <div><%=blog.title%></div>
        <img src="<%=blog.image%>">
        <a href="/blogs/<%=blog._id%>">Show More</a>
    <%})%>

    <% if(currentUser){ %>
    <a href="/blogs/new">New Blog</a>
    <a href="/logout">Logout</a>
    <%}%>
<% include ../partials/footer %>