<div class="footer">
    <a href="/blogs"><span>BLOGS</span></a>
    <div class="social-media-icon-container">

        <a href="https://www.linkedin.com/in/brendan-musick-8532b112b/"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/B-Musick"><i class="fa fa-github" style="color:white"></i></a>
        <a href="https://codepen.io/B-Musick"><i class="fa fa-codepen" style="color:white"></i></a>

    </div>
    <a href="mailto:brendan.musick@gmail.com"><span>CONTACT</span></a>
</div>

    <script src="/scripts/landing.js"></script>
   </body>
</html>