    <div class="footer-item footer">
        <a class="footer-item" href="/blogs">BLOGS</a>
        <div class="social-media-icon-container">

            <a class="footer-item" href="https://www.linkedin.com/in/brendan-musick-8532b112b/"><i class="footer-item fa fa-linkedin"></i></a>
            <a class="footer-item" href="https://github.com/B-Musick"><i class="footer-item fa fa-github" style="color:white"></i></a>
            <a class="footer-item" href="https://codepen.io/B-Musick"><i class="footer-item fa fa-codepen" style="color:white"></i></a>

        </div>
        <a class="footer-item" href="mailto:brendan.musick@gmail.com"><span class="footer-item">CONTACT</span></a>
    </div class="footer-item">

    <script src="/scripts/landing.js"></script>
    <script src="https://use.fontawesome.com/77ea9b56a8.js"></script>
   </body>
</html>