    <div class="footer-item" id="footer">

        <a class="footer-item" href="/blogs">BLOGS</a>



        <div class="social-media-icon-container">

            <a class="footer-item" href="https://www.linkedin.com/in/brendanmusick"><i
                    class="footer-item fab fa-linkedin"></i></a>
            <a class="footer-item" href="https://github.com/B-Musick"><i class="footer-item fab fa-github"></i></a>
            <a class="footer-item" href="https://codepen.io/B-Musick"><i class="footer-item fab fa-codepen"></i></a>

        </div>

        <a class="footer-item"><span class="footer-item">CONTACT</span></a>

    </div>
    <script src="/objects/Project.js"></script>
    <script src="/scripts/project_list.js"></script>
    <script src="/scripts/landing.js"></script>
    <script src="/scripts/sandwich_menu.js"></script>


    
   </body>
</html>