<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brendan Musick's Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <!-- FONT AWESOME CDN FOR SOCIAL MEDIA ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar">
        <a class="navbar-about" href="#">BrendanMusick</a>

        <a class="navbar-projects" href="#">Projects</a>
        <a class="navbar-resume" href="#">Resume</a>
        <a class="navbar-blogs" href="/blogs">Blogs</a>
        <a class="navbar-contact" href="#">Contact</a>

    </nav>

    <main class="name-mission-statement">
        <div class="mission-statement-headshot" ></div>
    </main>