<div id="fold-down-menu-icon-nav"><i class="fa fa-bars"></i></div>

<div id="nav-bar-items">
    <div id="nav-list">
        <a class="nav-link" href="#rootedInNature">(RootedInNature)<sup>2</sup></a>
        <a class="nav-link" href="#matrixCalculator">Matrix Calculator</a>
        <a class="nav-link" href="#graphCreator">Graph Creator</a>
        <a class="nav-link" href="#fitness">Fitness App</a>
        <a class="nav-link" href="#twenty48">2048</a>
        <a class="nav-link" href="#sudokuSolver">Sudoku Solver</a>
        <a class="nav-link" href="#ticTacToe">Tic Tac Toe</a>
        <a class="nav-link" href="#pomodoroClock">Pomodoro Clock</a>
    </div>

</div>
