<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva|Turret+Road:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- PROJECT STYLESHEETS -->
        <link rel="stylesheet" href="/stylesheets/projects/index.css">
        
<!-- FONT AWESOME CDN FOR SOCIAL MEDIA ICONS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!-- MFIZZ ICON CDN (MONGODB ICON)-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css">
    <title>Brendan Musick</title>
</head>
<body>
    

    <main class="name-mission-statement">
        <div class="landing-foldable landing-button-transition" id="landing-brendan">BRENDAN MUSICK</div>
        <div class="landing-foldable" id="landing-about">ABOUT</div>
        <div class="landing-foldable" id="landing-mission">COURSES</div>
        <div class="landing-foldable" id="landing-technologies">TECH</div>
        <div class="landing-foldable" id="landing-learning">LEARNING</div>
        <a href="/projects"></a><div class="landing-foldable" id="landing-projects">PROJECTS</div></a>

<!-- <div class="landing-foldable" id="landing-learning"><p class="button-text" id="landing-learning-text">LEARNING</p> -->
    <!-- Was used to flip the words along with transform -->

        <!-- <div class="mission-statement-headshot"></div> -->
        <div class="description">
            <!-- Each div will show depending on what button is pressd -->
            <div id="about-description-container" class="description-container">
                <!--  class="about-description-container" -->
                <p>  I first introduced myself to programming in the winter of 2016/2017 while off work for the winter. 
                    I began trying to learn Python then switched to Java. I decided to go back to University in the Fall and Winter of 2017/2018 after working full time for the Summer, where I took two Computer Science courses, becoming familiar with Java 
                    and the main programming fundamentals (loops, conditionals, data structures, algorithms). I was also able to take Calculus and Linear Algebra as well
                    to compliment the programming courses. I was working part time at the Government of Manitoba during this period of school a few days a week then went back full time to the field 
                    in the summer of 2018. I took a position up north in Athabasca September 2018 where I worked until mid April 2019.
                    
                    <p>During this period of working full time it was hard to stay 
                        on top of coding but I started to dabble in web development, 
                        I got hooked. I saved up enough money and relocated down south 
                        to Calgary and moved in with a couple friends. Since then I have dedicated 
                        my days to teaching myself front end development in Javascript, 
                        HTML, CSS, React, D3, as well as back end development using Node, 
                        Express, MongoDB.</p>

                    <p>I completed Colt Steele's <a href="https://www.udemy.com/certificate/UC-5BLPWT98/">Web Developer Bootcamp</a>. I concurrently worked on the FreeCodeCamp bootcamp as well, fully 
                    completing the <a>Responsive Web Design</a>, <a>Front End Web Development</a> and <a>Data Structures and Algorithms</a> portions. I am still doing projects
                    all the time from this site, finishing many of them using React framework, D3, express and Node. Many of the projects I have completed can be found in the projects
                    tab of this site.</p>
                </p>
            </div>
            <div class="description-container" id="mission-description-container">
                <!--  class="about-description-container" -->
                <ul>
                    <h4>freeCodeCamp</h4>
                    <li><a>Responsive Web Design (Media queries, Flexbox, Grids)</a></li>
                    <li><a>Front End Web Development (HTML, CSS, Javascript)</a></li>
                    <li><a>Javascript Data Structures and Algorithms</a></li>
                    <li><a>Data Visualization (D3)</a></li>
                    <li><a>API and Microservices (fetch(), JSON, Node, Express, MongoDB, Mongoose, Passport)</a></li>
                    <li><a>Information Security and Quality Assurance</a></li>

                    <h4>University Of Manitoba</h4>
                    <li>COMP 1010 and 1020 - Introductory computer science (loops, conditionals, data structures, algorithms)</li>
                    <li>MATH 1500 and 1700- Calculus courses (Limits, Derivatives, Integrals, Graphing</li>             
                    <li>MATH 1300 - Linear Algebra</li>
                    <li>STAT 1000 and 2000 - Statistics</li>

                    <h4>Udemy</h4>
                    <li><a href="https://www.udemy.com/certificate/UC-5BLPWT98/">Web Developer Bootcamp</a> - HTML, CSS, JS, Node, Express, MongoDB, JQuery, Bootstrap</li>
                    <li>Modern React With Redux (75% Complete)</li>
                    <a href="https://www.udemy.com/certificate/UC-C9I4SKGC/"><li>Mike Meyers Comptia A+ 1001 Course</li></a>
                    <a href="https://www.udemy.com/certificate/UC-07ID8B2D/"><li>Mike Meyers Comptia A+ 1002 Course</li></a>

                </ul>
            </div>
            <div class="description-container" id="technologies-description-container">
                <!--  class="about-description-container" -->
                
                <div class="tech-columns-container">
                    <div class="tech-text-column">
                        <h2>FRONTEND DEVELOPMENT</h2>
                        <p>I am comfortable using <u>HTML5</u> and <u>CSS3</u> and have dabbled in a few CSS frameworks such as 
                            Bootstrap and Semantic-UI, but for the most part I use vanilla CSS and HTML to style my projects. I am confident in my skills
                            using <u>Javascript</u>, knowing many of the new features added between ES5 and ES6. I have used <u>React</u> to make multiple projects, as well I have
                            used <u>D3</u> for various data visualization projects.
                        </p>
                        <h2>BACKEND DEVELOPMENT</h2>
                        <p>The <u>express</u> framework is what I'm accustomed to for routing my apps, using <u>passport</u> for authentication. I emplore <u>mongoose</u> to
                            model the objects to be stored in <u>mongoDB</u> databases, whether it be locally or to stored through the 
                            web based mongoDB Atlas.  </p>
                        
                        <h2>OTHER TECHNOLOGIES</h2>
                        <p><u>Heroku</u> is the main source I use to host the web apps I have made, and namecheap to purchase
                            my domain names, I have gone through and know the process of associating the two. I use <u>GitHub</u> to
                            save progress of my projects, and have learned the process of contributing to open source as well.
                        </p>
                        
                    </div>
                    <div class="icon-column">
                        
                        <i class="fab fa-html5"></i>
                        <i class="fab fa-css3-alt"></i>
                        <i class="fab fa-js"></i>
                        <i class="fab fa-npm"></i>
                        <i class="fab fa-node"></i>
                        <i class="icon-heroku fab"></i>
                        <i class="fab fa-react"></i>
                        <i class="icon-mongodb fab"></i>
                        <i class="icon-d3 fab"></i> 
                    
                    </div>


                </div>

            </div>
            <div class="description-container" id="learning-description-container">
                <!--  class="about-description-container" -->
                <p>I am always working on web development projects from freeCodeCamp and thinking 
                    of my own projects to work on. I recently started <a href="https://www.coursera.org/learn/build-a-computer/home/welcome">nand2tetris</a> to 
                    start learning the lower level workings of a computer to compliment my
                    current knowledge of higher level programming.
                </p>
                <p>I plan to get my Comptia A+ certification in early November (which I have been studying for
                    since the beginning of September). I plan to get my Network+ and Security+ as well in the future.
                    I am passively doing an ethical hacking course on Udemy as well to learn more about networking and security
                in order to make my websites more secure and prevent from attacks.</p>
                <p>I am reading and working through <i>The Linux Command Line - William Schotts</i> at the moment, trying
                to learn the ins and outs of the command line.</p>
                <p> I am always eager to learn and am constantly reading new books (at least one a week), and currently enjoy
                    reading non-fiction books related to computer history, hacking, privacy.  
                </p>
            </div>

            <div class="description-inside-screen" id="brendan-description-container">
                <div id="description-column">
                    <p>I, Brendan Musick, am a self taught full stack developer looking to get my foot in the door for my first developing position. Aside from
                    programming I enjoy reading, golfing, biking and nature. I have a Bachelor Of Science in Biology and have worked in the conservation sector the past 3 years. 
                    Please check the tabs to the left for more info on my qualifications and projects.
                    </p>

                </div>
                <div id="image-column">
                    <img src="https://i.imgur.com/KLdsgD0.png" alt="Brendans Image">
                </div>
            </div>
        </div>
        
        <!----------------------------------- PROJECTS --------------------------------->
        <div class="description-container" id="projects-description-container">

            <div class="page-container">
                
                <div class="page-row-1">
                    <p class="project-header">MAIN PROJECTS</p>
                    <div class="project">
                        <a href="/projects/2048">
                        <img class="project-image" src="https://i.imgur.com/tkaCN78.png"></img>
                        <div class="project-text">
                            <div class="project-title">2048</div>
                            <div class="project-description">My own recreation of a game created by Gabriella
                                Cirulli.</div>
                            <div class="project-links">
                                <a href="/projects/2048">
                                    <div class="anchor-title">PLAY</div>
                                </a>
                                <a href="https://github.com/B-Musick/2048-game">
                                    <div class="project-git-link">GIT REPOSITORY</div>
                                </a>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="project">
                        <a href="http://www.squarerootedinnature.com/">
                        <img class="project-image" src="https://i.imgur.com/vxvcOov.png"></img>
                        <div class="project-text">
                            <div class="project-title">(RootedInNature)<sup>2</sup></div>
                            <div class="project-description">Website for posting plants, nature blogs, and science.</div>
                            <div class="project-links">
                                <a href="http://www.squarerootedinnature.com/">
                                    <div class="anchor-title">VISIT</div>
                                </a>
                                <a href="#">
                                    <div href="https://github.com/B-Musick/rooted-in-nature-final" class="project-git-link">GIT
                                        REPOSITORY
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        </a>
                    </div>
                    <div class="project">
                        <a href="/projects/calculator">
                        <img class="project-image" src="https://i.imgur.com/mBCNf4W.png"></img>
                        <div class="project-text">
                            <div class="project-title">Calculator</div>
                            <div class="project-description">Fully working calculator with basic operations.</div>
                            <div class="project-links">
                                <a href="/projects/calculator">
                                    <div class="anchor-title">CALCULATE</div>
                                </a>
                                <a
                                    href="https://github.com/B-Musick/FREECODECAMP/tree/master/FRONT_END_LIRARIES/FRONT_END_LIBRARY_PROJECTS/CALCULATOR/calculator_vanilla">
                                    <div class="project-git-link">GIT REPOSITORY</div>
                                </a>
                            </div>
                        </div>
                        </a>
            
            
                    </div>
                    <div class="page-row-2">
                        
                        <h3 class="project-header" id="react-project-header">REACT PROJECTS</h3>
                        
                        <div class="project">

                            <a href="https://codepen.io/B-Musick/full/eqPpyQ">
                                <img class="project-image" src="https://i.imgur.com/RCqZpbb.png"></img>
                                <div class="project-text">
                                    <div class="project-title">Pomodoro Clock</div>
                                    <div class="project-description">Pomodoro clock to keep goals on time. Built using React.</div>
                                    <div class="project-links">
                                        <a href="https://codepen.io/B-Musick/full/eqPpyQ">
                                            <div class="anchor-title">START TIMING</div>
                                        </a>
                                        <a
                                            href="https://github.com/B-Musick/FREECODECAMP/tree/master/FRONT_END_LIRARIES/FRONT_END_LIBRARY_PROJECTS/POMODORO_CLOCK/pomodoro-clock">
                                            <div class="project-git-link">GIT REPOSITORY</div>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="project">
                            <a href="https://codepen.io/B-Musick/pen/ZEEGgxE">
                                <img class="project-image" src="https://i.imgur.com/uemf0sQ.png"></img>
                                <div class="project-text">
                                    <div class="project-title">TIC TAC TOE</div>
                                    <div class="project-description">Classic Tic Tac Toe. Can play against computer or play
                                    with a friend/enemy.</div>
                                    <div class="project-links">
                                        <a href="https://codepen.io/B-Musick/pen/ZEEGgxE">
                                            <div class="anchor-title">TIC TO THE TAC</div>
                                        </a>
                                        <a
                                            href="https://github.com/B-Musick/tic_tac_toe_react">
                                            <div class="project-git-link">GIT REPOSITORY</div>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        
                        
                        </div>
                        <div class="project">
                            <a href="https://codepen.io/B-Musick/pen/ZgBWxE?editors=1010">
                                <img class="project-image" src="https://i.imgur.com/xU9s6Ve.png"></img>
                                <div class="project-text">
                                    <div class="project-title">TONE GENERATOR</div>
                                    <div class="project-description">
                                        Choose from 9 different sounds. Use keyboard or click buttons.
                                    </div>
                                    <div class="project-links">
                                        <a href="https://codepen.io/B-Musick/pen/ZgBWxE?editors=1010">
                                            <div class="anchor-title">JAM OUT</div>
                                        </a>
                                        <a href="https://github.com/B-Musick/FREECODECAMP/tree/master/FRONT_END_LIRARIES/FRONT_END_LIBRARY_PROJECTS/DRUM_MACHINE">
                                            <div class="project-git-link">GIT REPOSITORY</div>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        
                        
                        </div>
                    </div>
                    <div class="page-row-3">
                        <h3 class="project-header" id="api-project-header">API PROJECTS</h3>

                        <div class="project">
                            <a href="https://i.imgur.com/MTN6JRT.png">
                                <img class="project-image" src="https://i.imgur.com/MTN6JRT.png"></img>
                                <div class="project-text">
                                    <div class="project-title">WIKI SEARCH</div>
                                    <div class="project-description">Search keyword and get 10 matches, or choose random. Uses Wikipedia API.</div>
                                    <div class="project-links">
                                        <a href="https://codepen.io/B-Musick/full/eqPpyQ">
                                            <div class="anchor-title">SEARCH</div>
                                        </a>
                                        <a
                                            href="https://github.com/B-Musick/FREECODECAMP/tree/master/INTERVIEW_PREP/TAKE_HOME_PROJECTS/WIKIPEDIA_VIEWER">
                                            <div class="project-git-link">GIT REPOSITORY</div>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="project">
                            <a href="https://i.imgur.com/sxbsTUU.png">
                                <img class="project-image" src="https://i.imgur.com/sxbsTUU.png"></img>
                                <div class="project-text">
                                    <div class="project-title">CURRENT WEATHER</div>
                                    <div class="project-description">Get the current weather at your location. Uses glitch Weather API</div>
                                    <div class="project-links">
                                        <a href="https://codepen.io/B-Musick/full/VwZoRPM">
                                            <div class="anchor-title">SEARCH</div>
                                        </a>
                                        <a
                                            href="https://github.com/B-Musick/weather_api">
                                            <div class="project-git-link">GIT REPOSITORY</div>
                                        </a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
            
            
                </div>
            
            </div>
        </div>

    </main>

<% include ./partials/footer %>

    


