<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/projects/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- MFIZZ ICON CDN (MONGODB ICON)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css">
    <title>Brendan Musick</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>
    <!-- FONT AWESOME CDN FOR SOCIAL MEDIA ICONS/ TECH ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
        <!-- Github icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <!-- MFIZZ ICON CDN (MONGODB ICON)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css">


</head>
<body>
        <div id='landing-page-container'>
            <div class='hidden-header' id="about-header">ABO<span class="right-header-half">UT</span></div>
            <div class='hidden-header' id="courses-header">COU<span class="right-header-half">RSES</span></div>
            <div class='hidden-header' id="tech-header">TEC<span class="right-header-half">HNOLOGY</span></div>
            <div class='hidden-header' id="learning-header">LEA<span class="right-header-half">RNING</span></div>
            <div class='hidden-header' id="projects-header">PRO<span class="right-header-half">JECTS</span></div>
            <div id='top-half-landing'>
        
                <!-- NAME LABEL -->
                <div id="name-label">BRENDAN MUSICK</div>
                <!-- POSITION LABEL -->
                <div id="position-label">FULL STACK DEVELOPER</div>
            </div>
            <div id='bottom-half-landing'>
        
        
                <!-- ABOUT LABEL -->
                <div id="about-rect" class="info-rect"></div>
                <div id="about-label" class="info-label">ABOUT</div>
        
                <!-- COURSES LABEL -->
                <div id="courses-rect" class="info-rect"></div>
                <div id="courses-label" class="info-label">COURSES</div>
        
                <!-- TECH LABEL -->
                <div id="tech-rect" class="info-rect"></div>
                <div id="tech-label" class="info-label">TECHNOLOGY</div>
        
                <!-- LEARNING LABEL -->
                <div id="learning-rect" class="info-rect"></div>
                <div id="learning-label" class="info-label">LEARNING</div>
        
                <!-- PROJECTS LABEL -->
                <div id="projects-rect" class="info-rect"></div>
                <div id="projects-label" class="info-label">PROJECTS</div>
            </div>
        
        
            <!-- DESCRIPTION BODIES -->
        
            <!------------------------- ABOUT PAGE ------------------------------->
            <div class='description-body-hidden' id="about-description-container">
                <p>
                    Hello, my name is Brendan Musick, I am a recent graduate of the
                    University of Manitoba with a <a href="https://sci.umanitoba.ca/cs/undergraduate-programs/">Major in Computer
                        Science</a>. Software Development
                    in many aspects of programming, but software/application development
                    and web develpment are what I am passionate about, graphics and Bioinformatics are also topics I am interested in.
                </p>
                <p>
                    I am a self taught web developer, accomplishing this feat through
                    taking various certifications through <a style="text-decoration: underline; "
                        href="https://www.freecodecamp.org/bmusick ">freeCodeCamp</a> curriculum. I have experience with multiple
                    different languages
                    and have become accustomed to having to quickly pick up a new language
                    when required.
                </p>
                <p>
                    My hobbies include various leisurly activities such as golf, reading
                    and playing guitar. I enjoy all aspects of nature, including going on
                    hikes and collecting plants, using plant keys to ID any new plants I find.
                </p>
            </div>
        
        <!------------------------ COURSES ------------------------------------->
        <div class='description-body-hidden' id="courses-description-container">
            <!-- University -->
            <table id="university-course-table">
                <!-- colspan - https://stackoverflow.com/questions/26400006/make-a-td-span-the-entire-row-in-a-table -->
                <th colspan="2" id="university-course-table-header">University of Manitoba Computer Science Courses Taken</th>
                <tr>
                    <th id="university-course-table-course-name">Course Name</th>
                    <th id="university-course-table-course-desc">Course Description</th>
                </tr>
            </table>
        
            <ul>
                <!-- freeCodeCamp -->
                <h4>freeCodeCamp</h4>
                <li><a
                        href="https://www.freecodecamp.org/certification/fccfd11e673-4406-4686-b425-c240b61dba6f/responsive-web-design">Responsive
                        Web Design (Media queries, Flexbox, Grids)</a></li>
                <li><a
                        href="https://www.freecodecamp.org/certification/fccfd11e673-4406-4686-b425-c240b61dba6f/front-end-libraries">Front
                        End Libraries (HTML, CSS, Javascript)</a></li>
                <li><a
                        href="https://www.freecodecamp.org/certification/fccfd11e673-4406-4686-b425-c240b61dba6f/javascript-algorithms-and-data-structures">Javascript
                        Data Structures and Algorithms</a></li>
                <li><a
                        href="https://www.freecodecamp.org/certification/fccfd11e673-4406-4686-b425-c240b61dba6f/apis-and-microservices">API
                        and Microservices (fetch(), JSON, Node, Express,
                        MongoDB, Mongoose, Passport)</a></li>
                <li><a
                        href="https://www.freecodecamp.org/certification/fccfd11e673-4406-4686-b425-c240b61dba6f/information-security-and-quality-assurance">Information
                        Security and Quality Assurance</a></li>
                <h4>Books</h4>
                <li>
                    The Linux Command Line - William Schotts
                </li>
            </ul>
        </div>
        
            <!-------------------------- TECHNOLOGY  ------------------------------->
            <div class="description-body-hidden" id="tech-description-container">
                <div class="tech-columns-container">
                    <!--------------------- ICONS ----------------------------->
                    <div class="icon-column">
                        <i class="fa-brands fab fa-android"></i>
                        <i class="fab fa-html5"></i>
                        <i class="fab fa-css3-alt"></i>
                        <i class="fab fa-js"></i>
                        <i class="fab fa-npm"></i>
                        <i class="fab fa-node"></i>
                        <i class="icon-heroku fab"></i>
                        <i class="fab fa-react"></i>
                        <i class="icon-mongodb fab"></i>
                        <i class="icon-d3 fab"></i>
                        <i class="icon-mysql fab"></i>
                    
                    </div>
                    <!--ICONS-->
                    <div class="tech-text-column">
                        <h2>LANGUAGES</h2>
                        <p>C  &nbsp; | &nbsp;  C++ &nbsp;|&nbsp; Java &nbsp;| &nbsp;Python &nbsp;|&nbsp; JS &nbsp;|&nbsp; CSS &nbsp;|&nbsp; HTML &nbsp;| &nbsp;SQL &nbsp;| &nbsp;Prolog </p>
                        <h2>SOFTWARE ENGINEERING</h2>
                        <p>
                            I have experience with the software development life cycle for an application using an <u>Agile
                                Architecture</u>.
                            Developing user stories, setting release dates, testing/debugging
                            creating unit and intergration tests with <u>JUnit</u>, and acceptance tests
                            with <u>Espresso</u>. Working with a group, I have gained experience using GitLab as
                            version control for our application, creating merge requests and
                            making sure no conflicts occur when merging to main.
                        </p>
                        <!--------------- FRONT END ---------------------------->
                        <h2>FRONTEND DEVELOPMENT</h2>
                        <p>
                            I am comfortable using <u>HTML5</u> and <u>CSS3</u>
                            and have dabbled in a few CSS frameworks such as
                            Bootstrap and Semantic-UI, but for the most part I
                            use vanilla CSS and HTML to style my projects. I am
                            confident in my skills using <u>Javascript</u>, knowing
                            many of the new features added between ES5 and ES6. I have
                            used <u>React</u> to make multiple projects, as well I
                            have used <u>D3</u> for various data visualization projects.
                        </p>
                    
                        <!------------------ BACKEND -------------------------->
                        <h2>BACKEND DEVELOPMENT</h2>
                        <p>
                            The <u>express</u> framework is what I'm accustomed to
                            for routing my apps, using <u>passport</u> for authentication.
                            I emplore <u>mongoose</u> to model the objects to be
                            stored in <u>mongoDB</u> databases, whether it be
                            locally or to stored through the web based mongoDB Atlas.
                            I have recently been delving into SQL and have started
                            implementing it into some RESTful API apps.
                        </p>
                    
                        <!------------------- OTHER --------------------------->
                        <h2>OTHER TECHNOLOGIES</h2>
                        <p>
                            <u>Heroku</u> is the main source I use to host the web
                            apps I have made, and namecheap to purchase my domain names,
                            I have gone through and know the process of associating
                            the two. I use <u>GitHub</u> to save progress of my
                            projects, and have learned the process of contributing
                            to open source as well.
                        </p>
                    
                    </div> <!-- TECHNOLOGY -->
                </div>
            </div>
        
            <!--------------------------- LEARNING --------------------------------->
        
            <div class='description-body-hidden' id="learning-description-container">
                <p>
                    Having just graduated, I am going to spend more time pursuing personal projects
                    and subjects I didnt have time to delve into. One such subject is Bioinformatics which I have started <a
                        href="https://github.com/B-Musick/bioinformatics-study">studying</a>. I have started reading through the <a
                        href="http://biopython.org/DIST/docs/tutorial/Tutorial.html">Biopython Tutorial and Cookbook</a>, trying the
                    example programs for myself.
                </p>
                <p>
                    This past year at University, two of the courses I took were graphics
                    courses (COMP 3490/4490). We used OpenGL/C++ to develop multiple assignments. My
                    goal this summer is to redo these assignments, importing them into
                    WebGL using <a
                        href="https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/Tutorial/Getting_started_with_WebGL">Mozilla
                        MDN</a> tutorials on it.
                </p>
                <p>
                    I am currently reading <a href="https://www.goodreads.com/book/show/24113.G_del_Escher_Bach">Gödel, Escher, Bach: an
                        Eternal Golden Braid
                        Book by Douglas Hofstadter</a> to delve deeper into the the origins and
                    aspects of logical mathematics.
                </p>
                <p>
                
                </p>
            </div>
            <div class='description-body-hidden' id="projects-description-container">
                <div id="row-2" class="page-row-2">
                    
                <!--------------------------- ROOTEDINNATURE ---------------------->
                <!-- http://www.squarerootedinnature.com/ -->

      
                <!-- TONE GENERATOR  -->
                <!-- - Choose from 9 different sounds. Use keyboard or click buttons. Built using React. -->
                <!-- App: https://guarded-ravine-00658.herokuapp.com/ -->
                <!-- Github: https://github.com/B-Musick/drum-machine-react  ---------------------->
                

                <!------------------------- API PROJECTS ---------------------->
                    <!---------------------- WIKI SEARCH ---------------------->
                    <!-- Search keyword and get 10 matches, or choose
                                    random. Uses Wikipedia API. -->
                    <!-- Link: https://codepen.io/B-Musick/pen/KKKPqeO -->
                    <!-- Github: https://github.com/B-Musick/FREECODECAMP/tree/master/INTERVIEW_PREP/TAKE_HOME_PROJECTS/WIKIPEDIA_VIEWER -->

                        <!-------------------------- WEATHER APP ---------------------->
                        <!-- Link: https://codepen.io/B-Musick/full/VwZoRPM -->
                        <!-- Github: https://github.com/B-Musick/weather_api -->
                        <!-- Get the current weather at your location. Uses glitch Weather API -->
                        
                    </div>
                </div>
            </div>

        </div>
        
    </div>
        
<% include ./partials/footer %>
        
        
        


    


