<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva|Turret+Road:700&display=swap" rel="stylesheet">
   
    <title>Document</title>
</head>
<body>
    

    <main class="name-mission-statement">
        <div class="landing-foldable landing-button-transition" id="landing-about">BRENDAN MUSICK</div>
        <div class="landing-foldable" id="landing-mission">MISSION</div>
        <div class="landing-foldable" id="landing-technologies">TECH</div>
        <div class="landing-foldable" id="landing-learning">LEARNING</div>
<!-- <div class="landing-foldable" id="landing-learning"><p class="button-text" id="landing-learning-text">LEARNING</p> -->
    <!-- Was used to flip the words along with transform -->
        
        <!-- <div class="mission-statement-headshot"></div> -->
        <div class="description">
            <!-- Each div will show depending on what button is pressd -->
            <div id="about-description-container">
                <!--  class="about-description-container" -->
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, qui delectus vero, nisi quibusdam ratione aliquid
                    rem deleniti, nobis pariatur quam perferendis enim dolorum dolore officia placeat aut soluta facere? </p>
            </div>
            <div class="description-container" id="mission-description-container">
                <!--  class="about-description-container" -->
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, qui delectus vero, nisi quibusdam ratione
                    aliquid
                    rem deleniti, nobis pariatur quam perferendis enim dolorum dolore officia placeat aut soluta facere? Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere porro debitis est tempore doloribus magnam corporis officia, nobis quasi dolorum deserunt. Corporis laboriosam accusamus facere, magnam cum pariatur quibusdam obcaecati. </p>
            </div>
            <div class="description-container" id="technologies-description-container">
                <!--  class="about-description-container" -->
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, qui delectus vero, nisi quibusdam ratione
                    aliquid
                    rem deleniti, nobis pariatur quam perferendis enim dolorum dolore officia placeat aut soluta facere? Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Facere porro debitis est tempore doloribus magnam corporis officia,
                    nobis quasi dolorum deserunt. Corporis laboriosam accusamus facere, magnam cum pariatur quibusdam obcaecati.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, qui delectus vero, nisi quibusdam ratione
                    aliquid
                    rem deleniti, nobis pariatur quam perferendis enim dolorum dolore officia placeat aut soluta facere? Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Facere porro debitis est tempore doloribus magnam corporis officia,
                    nobis quasi dolorum deserunt. Corporis laboriosam accusamus facere, magnam cum pariatur quibusdam obcaecati.
                </p>
            </div>
            <div class="description-container" id="learning-description-container">
                <!--  class="about-description-container" -->
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, qui delectus vero, nisi quibusdam ratione
                    aliquid
                    rem deleniti, nobis pariatur quam perferendis enim dolorum dolore officia placeat aut soluta facere? Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Facere porro debitis est tempore doloribus magnam corporis officia,
                    nobis quasi dolorum deserunt. Corporis laboriosam accusamus facere, magnam cum pariatur quibusdam obcaecati.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, qui delectus vero, nisi quibusdam ratione
                    aliquid
                    rem deleniti, nobis pariatur quam perferendis enim dolorum dolore officia placeat aut soluta facere? Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Facere porro debitis est tempore doloribus magnam corporis officia,
                    nobis quasi dolorum deserunt. Corporis laboriosam accusamus facere, magnam cum pariatur quibusdam obcaecati.

                                        rem deleniti, nobis pariatur quam perferendis enim dolorum dolore officia placeat aut soluta facere? Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Facere porro debitis est tempore doloribus magnam corporis officia,
                                        nobis quasi dolorum deserunt. Corporis laboriosam accusamus facere, magnam cum pariatur quibusdam obcaecati.
                </p>
            </div>
        </div>
    </main>

    <script src="/scripts/landing.js"></script>

<% include ./partials/footer %>