body{
    
    font-family: 'Righteous', cursive;
    background-color: rgb(156, 206, 244);
    align-items: center;
}
tab{
    margin-left:5px; 
}

#header{
    display: block;
    
    text-align: center;
    font-size: 40px;
}
#board-score-container{
    flex-wrap: wrap;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 3vh;

}
.score-controls-container{
    
    /* Reverse elements since want score on top */
    
}
.score-controls-container ul{
    list-style: none;
    padding-left: 0 !important; 
}
ul h4{
    font-size: 20px;
    text-decoration: underline;
}
ul li{
    padding-left: 20px; 
}

#board-display{
    display:flex;
    border: 5px solid black;

    -webkit-box-shadow: 13px -11px 65px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px -11px 65px 0px rgba(0,0,0,0.75);
    box-shadow: 13px -11px 65px 0px rgba(0,0,0,0.75);
    
}

#score-banner{
    color: white;
    text-align: center;
    display: block;
    padding: 20px;
    background-color: rgb(85, 83, 83);
    height: 95px;
    padding: 0 20px;
    border: 5px solid black;
    width: 100px;
    margin: 0 auto;
    -webkit-box-shadow: 13px -11px 65px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px -11px 65px 0px rgba(0,0,0,0.75);
    box-shadow: 13px -11px 65px 0px rgba(0,0,0,0.75);
}

#rules{
    padding:5px;
    
    
}

#game-over{
    z-index: 1;
    position: absolute;
    top: 45vh;
    left: 40vw;
    padding: 25px;
    background-color: red;
    color: yellow !important;
    border: 5px solid black;
}
@media(min-width:800px){
    body{
        display: grid;
        
        grid-template-rows: 10% 70% 20%;
    }
    #header{
        grid-row: 1/2
    }
    #board-score-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 40% 10% 40%; 
        grid-column: 1/2;
        grid-row: 2/3;
        
        
    }
    #board-display{
        grid-column: 1/2;
        margin: 0 auto;
        grid-row: 2/3;

        
    }
    .controls{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .score-controls-container{
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
        
    }
    .score-board{
        
        display: block;
        margin-top: 80px;
        margin: 80px auto;
        grid-row: 4/5;
        grid-column: 1/2;
    }
    #rules{
        grid-row: 3/4;
    }


}
@media(max-width:980px){
    #score-banner{
        margin-top: 20px;
    }
}



#game-over-initials{
    color: black;
    text-align: center;
}

#game-over-input{
    position: relative;
    margin-left: 29px;
    border: 3px solid black;
}

table, tr, td{
    border: 5px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    
    
    
}

td{
    width: 100px;
}

.score-board{
    display: block;
}
#score-board-banner{
    background-color: rgb(96, 208, 163);
}

.score-board-row{
    background-color: rgb(255, 77, 0);
}