.page-container{
    height: 79vh;
    width: 100vw;
    background-color: rgb(87, 51, 114);
    overflow:scroll;

}
.page-row-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
@media(max-width:500px){
    .page-row-1{
        display: flex;
       flex-direction: column;
       align-content: center;
       margin-bottom: 30px;
    }
}
.project{
    
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 27vw;
    height: 30vw; */
    background-color:  rgb(37, 25, 46);
    margin-top: 8vh;
    
    width: 250px;
    height: 295px;
    overflow: scroll;
    -webkit-box-shadow: 11px -2px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px -2px 30px -6px rgba(0,0,0,0.75);
box-shadow: 11px -2px 30px -6px rgba(0,0,0,0.75);
position: relative;

}

.project-text{
    font-size: 12px;
    color: white;
    margin: 0 !important;
    padding: 0 5px;
    line-height: 18px;
    text-align: center;
    
    
}

.project-text a{
    text-decoration: none;
    color:white;

}
.project-title{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
.project-description{

}

.project img{

    width: 100%;
    height: 55%;

    

}
.project-links a div{
    padding: 4px;
    text-align: center;
    
}
.project-links a div{
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgb(87, 51, 114);

}
.project-links .project-git-link{
    position:absolute;
    bottom: 5px;
    width: 70%;
}
.project-links .anchor-title{
    position:absolute;
    bottom: 34px;
    width: 70%;
}
.project-git-link{
    margin-top: 6px;
}