/* SOCIAL MEDIA ICONS */
.social-media-icon-container{
    
    height: 16vh;
    width:100vw;
    background-color: rgb(37, 25, 46);
    font-size:9vh !important;
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
    position: absolute;
    bottom:0px;
    

}
.social-media-icon-container a {
    margin-top: 0;
}
.social-media-icon-container i {
    
    margin-right: 2vw;
}
.fa-linkedin {
    /* Make linked in background white, text black  */
    font-size:9vh !important;
    height: 9vh;
    
    
    color: rgb(37, 25, 46);
    background-color:white;
    border-radius: 10px;
    padding: 0px 1px;
    
}