.footer{
    width:100vw;
    background-color: rgb(37, 25, 46);
    color: white;
    display: flex;
    
    justify-content: space-evenly;
    padding: 2.3vh;
    position: fixed;
    bottom: 0;
    height: 75px;
    
}
.footer a{
    margin-top: 24px;
    text-decoration: none;
    color: white;
}
/* SOCIAL MEDIA ICONS */
.social-media-icon-container{
    margin-top: 10px;
    font-size:7vh !important;
    display: flex;
    justify-content: center;



    

}
.social-media-icon-container a {
    margin-top: 0;
}
.social-media-icon-container i {
    
    margin-right: 2vw;
}
.fa-linkedin {
    /* Make linked in background white, text black  */
    font-size:7vh !important;
    height: 7vh;
    width: inherit;
    
    
    color: rgb(37, 25, 46);
    background-color:white;
    border-radius: 10px;
    padding: 0px 1px;
    
}