/* SOCIAL MEDIA ICONS */
.social-media-icon-container{
    height: 11vh;
    background-color: black;
    font-size:9vh !important;
    display: flex;
    justify-content: center;

}

i {
    margin-right: 2vw;
}
.fa-linkedin {
    /* Make linked in background white, text black  */
    font-size:9vh !important;
    height: 9vh;
    color:black;
    background-color:white;
    border-radius: 10px;
    padding: 0px 2px;
}