body {
    font-family: 'Grenze', serif;
    padding: 0;
    margin: 0;
}
.name-mission-statement{
    /* Will take up the whole page besides the header */
    height: 91vh;
    width: 100vw;
    display:flex;
    justify-content: flex-end;
    background-color: rgb(87, 51, 114);
}
.mission-statement-headshot{
    background: url(https://imgur.com/zzbfnJd.jpg) no-repeat linear-gradient(to right, white, transparent 90%);;
    height: 91vh;
    width: 450px;
    background-size: cover; 
background-image: -webkit-linear-gradient(left, 
    rgba(87, 51, 114, 1) 3%, 
    rgba(0,0,0,0) 20%,
    rgba(0,0,0,0) 80%,
    rgba(0,0,0,0) 3%
  ),
  url(https://imgur.com/zzbfnJd.jpg);
}


.navbar {
    background-color: rgb(37, 25, 46);
    display: flex;
    padding: 20px;   
 
}

.navbar a:hover{
    font-size: 1.1em;
}

.navbar-about{
    margin-right: auto;
}
.navbar-projects,
.navbar-resume,
.navbar-blogs,
.navbar-contact {
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
}