body {

    padding: 0;
    margin: 0;
}

.navbar {
    background-color: rgb(37, 25, 46);
    display: flex; 
    width: 100vw; 
 
}

.navbar a:hover{
    background-color:rgb(58, 39, 73);
    
}

.navbar-about{
    margin-right: auto;
    
}
.navbar-projects,
.navbar-resume,
.navbar-blogs,
.navbar-contact {
    margin-right: 15px;
}

.navbar a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

@media(max-width: 566px){
    .navbar-about{
        margin-right: unset;
    }
    .navbar{
        
        justify-content: space-between;

    }
    .navbar a{
        font-size: 2.8vw;
        padding: 3vw;
    }
}