body {
    font-family: 'Grenze', serif;
}
.navbar {
    background-color: black;
    display: flex;
    padding: 20px;   
}

.navbar a:hover{
    font-size: 1.1em;
}

.navbar-about{
    margin-right: auto;
}
.navbar-projects,
.navbar-resume,
.navbar-blogs,
.navbar-contact {
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
}