@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
/* LANDING PAGE MISSION STATEMENT */
body{
    margin:0;
    padding:0;
    height: 100vh;
    /* font-family: 'Archivo Black', sans-serif; */
    /* font-family: 'Sigmar One', cursive;
     */
     font-family: 'Saira Stencil One', cursive;
     
    

}

.name-mission-statement{
    /* Will take up the whole page besides the header */
    height: 100%;
    width: 100vw;
    display:flex;
    justify-content: flex-end;
    background-color: rgb(87, 51, 114);
    position: relative;
    overflow: hidden;
}

/* .mission-statement-headshot{
    background: url(https://imgur.com/zzbfnJd.jpg) no-repeat linear-gradient(to right, white, transparent 90%);;
    height: 78vh;
    width: 30vw;
    background-size: cover;
    position: absolute;
    
    right:0px;
    background-image: -webkit-linear-gradient(left, 
            rgba(87, 51, 114, 1) 3%, 
            rgba(0,0,0,0) 20%,
            rgba(0,0,0,0) 80%,
            rgba(0,0,0,0) 3%
        ),
    url(https://imgur.com/zzbfnJd.jpg);
    transition: background-image;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.mission-statement-headshot-transition{
    /* Used when a tag is clicked to trasition the image of me out */
    /* background-image: none;
    width:0;
    transition: background-image;
    transition-duration: 1s;
    transition-timing-function: linear; 
} */

/***************************** BUTTON TABS ***********************************/
.landing-foldable{
    /* Used to set the original button */
    /* line-height: 2.5; */
    font-size: 2vw;
    
    border-radius: 0px 20px 20px 0;
    width: 12vw;
    height: 5.5vh;
    background-color:  rgb(37, 25, 46);
    color: white;
    position: absolute;
    left:0;
    text-align: center;
    z-index:1;
   
    /* text-orientation: sideways; */
    transition: margin-top, width, font-size, text-orientation, transform, line-height;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    padding: 2vh;

}

.landing-foldable:hover{
    filter: brightness(120%);
}
#landing-brendan{
    background-color: rgb(37, 25, 46);
    margin-top: 18vh; 
}
#landing-about{
    background-color:rgb(77, 179, 216);
    margin-top: 28vh;
}
#landing-mission{
    margin-top: 38vh;
    background-color:rgb(216, 102, 77);

}

#landing-technologies{
    margin-top: 48vh;
    background-color:rgb(77, 216, 172);

}
#landing-learning{
    margin-top: 58vh;
    background-color:rgb(243, 201, 112);

}
#landing-projects{
    margin-top: 68vh;
    background-color:rgb(209, 136, 233);

}
.landing-button-transition{
    /* transition the button to the top of page  */
    filter: brightness(120%) !important;
    width: 100%;
    height: 13vh;
    font-size: 5vh !important;
    margin-top:0 !important;
    padding-top: 0;
    line-height: 2.4;
    border-radius: 0px 0px 0px 0;
    position: absolute;
    transition: top, width, height, font-size, margin-top, line-height background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.foldable-retreat{
    /* This will retreat the button not clicked into a tab form, it will transition */
    /* background-color:  rgb(37, 25, 46) !important; */
    width: 6vw;
    font-size: 1vw !important;
    transition: top, width, height, font-size, margin-top background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}





/******************************* DESCRIPTIONS *********************************/
.description{
    /* Styles the descriptions */
    height: 100%;
    width: 90%;
    margin: 0 auto;
    margin-top: 110px;
    color: white;
    justify-self: center;
    position: relative;
    bottom:0;
    overflow: hidden;
    padding-left: 10vw;
 
     
}
.description-container{
    /* This is the position of the container when off screen */
    text-align: center;
    position: absolute;
    top: 1000px;

    transition: top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    
}

.description-inside-screen{
    /* This is the location when the text is shown on the screen */
    position: absolute;
    top: 0px;
    font-family: 'Archivo Black', sans-serif;
    display: block;
    overflow: scroll;
    
    transition: top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    
}

#brendan-description-container{
    line-height: 1.6;
    width: 95%; 
    margin-left: 50px;
    
    height: 73%;
    display: grid;
    grid-template-columns: 70% 30%;
    
}



/* #brendan-title{
    text-align: center;
    width: 100%;
    height: 15%;
    display: relative;
    width: 100%;
    height: 100px;
    font-size: 40px !important;
    margin-top:0 !important;
    padding-top: 0;
    line-height: 2.4;
    color: white;
    position: absolute;
    top:0;
    transition: top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
} */

#description-column{
    padding: 0 40px 0 30px;
    margin-top: 10vh;
}
#image-column{
    
}
#image-column img{
    width: 135px;
    height: 165px;
    object-fit: cover;
    border-radius: 100%;
    border: 15px solid rgb(37, 25, 46);;
    margin-top: 30%;
}

/********************************** TECH PAGE  ****************************** */
.tech-columns-container{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 80vw;
    height: 70vh;
    margin-left:0 !important;
    margin-top: 15px;
}

.tech-text-column{
    grid-column: 1/2;
    margin-right: 50px;
    font-size: 13px;
}

.icon-column{
    padding-left: 20px;
    grid-column: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.fab{
    font-size: 70px;
    color: white;
    margin: 0 20px;
}

@media(max-width: 630px){
    .tech-columns-container{
        display: block;
    }
    .tech-text-column{
        margin: 0;
        margin-left: 10px;
    }
    .icon-column{
        padding: 0;
    }
}

#projects-description-container{
    margin-top: 15vh;
    left: 14vw;
}

@media(max-width: 1030px){
    .description{
        margin: 0;
        margin-top: 13vh;
        padding-right: 50vw;
        padding-left: 13vw;
    }
    #brendan-description-container{
        width: 90vw !important;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        margin: 0 !important;
    }
}
@media(max-width:370px){
    .landing-foldable{
        font-size: 8px;
    }
    .foldable-retreat{
        font-size: 6px !important;
        text-align: start !important;
        padding: 0 !important;
        padding-top: 10px !important;
        width: 38px;
        height: 30px;
        
    }
    #brendan-description-container{
        font-size: 11px;
    }
    .description-inside-screen{
    /* This is the location when the text is shown on the screen */
    position: absolute;
    top: 0px;
    font-family: 'Archivo Black', sans-serif;
        display: block;
    overflow: scroll;
     font-size: 11px;
    transition: top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    
}

}


