<% include ../partials/header %>
    <div class="page-container">
        <div class="page-row-1">
            <div class="project-1">
                <img class="project-1-image" src="https://i.imgur.com/I6UMdZv.png"></img>
                <h5 class="project-1-title"></h5>
                <p class="project-1-description"></p>
            </div>
            <div class="project-1">
                <img class="project-1-image" src="https://i.imgur.com/I6UMdZv.png"></img>
                <h5 class="project-1-title"></h5>
                <p class="project-1-description"></p>
            </div>
                        <div class="project-1">
                            <img class="project-1-image" src="https://i.imgur.com/I6UMdZv.png"></img>
                            <h5 class="project-1-title"></h5>
                            <p class="project-1-description"></p>
                        </div>
        </div>

    </div>
<% include ../partials/footer %>