<% include ../partials/header %>
    <div class="page-container">
        <div class="page-row-1">
            <div class="project">
                <img class="project-image" src="https://i.imgur.com/tkaCN78.png"></img>
                <div class="project-text">
                    <div class="project-title">2048</div>
                    <div class="project-description">My own recreation of a game created by Gabriella
                            Cirulli.</div>
                    <div class="project-links">
                        <a href="/projects/2048">
                            <div>PLAY</div>
                        </a>
                        <a href="https://github.com/B-Musick/2048-game">
                            <div class="project-git-link">GIT REPOSITORY</div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="project">
                <img class="project-image" src="https://i.imgur.com/tkaCN78.png"></img>
                <div class="project-text">
                    <div class="project-title">(RootedInNature)<sup>2</sup></div>
                    <div class="project-description">Website I created for posting plants, nature blogs, and for general scientific knowledge.</div>
                    <div class="project-links">
                        <a href="/projects/2048">
                            <div>PLAY</div>
                        </a>
                        <a href="#">
                            <div class="project-git-link">GIT REPOSITORY</div>
                        </a>
                    </div>
                </div>
            
            </div>
            
        </div>

    </div>
<% include ../partials/footer %>