<% include ../partials/header %>
    <div class="page-container">
        <div id="project-index">
            <!-- 
            
            <div class="project">
                <img class="project-image" src="https://i.imgur.com/mBCNf4W.png"></img>
                <div class="project-text">
                    <div class="project-title">Calculator</div>
                    <div class="project-description">Fully working calculator with basic operations.</div>
                    <div class="project-links">
                        <a href="/projects/calculator">
                            <div class="anchor-title">CALCULATE</div>
                        </a>
                        <a
                            href="https://github.com/B-Musick/FREECODECAMP/tree/master/FRONT_END_LIRARIES/FRONT_END_LIBRARY_PROJECTS/CALCULATOR/calculator_vanilla">
                            <div class="project-git-link">GIT REPOSITORY</div>
                        </a>
                    </div>
                </div>

            
            </div>
            <div class="project">
                <img class="project-image" src="https://i.imgur.com/RCqZpbb.png"></img>
                <div class="project-text">
                    <div class="project-title">Pomodor Clock</div>
                    <div class="project-description">Pomodoro clock to keep goals on time. Built using React.</div>
                    <div class="project-links">
                        <a href="https://codepen.io/B-Musick/full/eqPpyQ">
                            <div class="anchor-title">START TIMING</div>
                        </a>
                        <a
                            href="https://github.com/B-Musick/FREECODECAMP/tree/master/FRONT_END_LIRARIES/FRONT_END_LIBRARY_PROJECTS/POMODORO_CLOCK/pomodoro-clock">
                            <div class="project-git-link">GIT REPOSITORY</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="project">
                <img class="project-image" src="https://i.imgur.com/RCqZpbb.png"></img>
                <div class="project-text">
                    <div class="project-title">Pomodor Clock</div>
                    <div class="project-description">Pomodoro clock to keep goals on time. Built using React.</div>
                    <div class="project-links">
                        <a href="https://codepen.io/B-Musick/full/eqPpyQ">
                            <div class="anchor-title">START TIMING</div>
                        </a>
                        <a
                            href="https://github.com/B-Musick/FREECODECAMP/tree/master/FRONT_END_LIRARIES/FRONT_END_LIBRARY_PROJECTS/POMODORO_CLOCK/pomodoro-clock">
                            <div class="project-git-link">GIT REPOSITORY</div>
                        </a>
                    </div>
                </div>
            
            
            </div> -->

            
        </div>

    </div>
    <script src="/objects/Project.js"></script>
    <script src="/scripts/project_list.js"></script>

<% include ../partials/footer %>