
.blogs-page-container{
    background-color:rgb(87, 51, 114);
    padding: 30px;
    padding-top: 0px;
    height: 79vh;
    overflow: scroll;
}

.blog-container-anchor{
    text-decoration: none;
    color: white;
    

}


.blog-container{
    /* Individual blog containers */
    background-color: rgb(37, 25, 46);
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom:8px;
    height: 200px;
    display: flex;
-webkit-box-shadow: 11px -2px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px -2px 30px -6px rgba(0,0,0,0.75);
box-shadow: 11px -2px 30px -6px rgba(0,0,0,0.75);
    
    
}
.blog-container:hover{
    margin-top:48px;
    margin-bottom:0;
-webkit-box-shadow: 11px -10px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 11px -10px 30px -6px rgba(0,0,0,0.75);
box-shadow: 11px -10px 30px -6px rgba(0,0,0,0.75);
}
.column-left{
    align-self: center;
}
.column-right{
    padding: 7px;
    padding-left: 30px;

    
}
.blog-index-title{
    font-size: 1.9em;
    
}
.blog-index-text{
    font-size: 0.9em;
    align-self: center;
}

.blog-index-image {
    margin-left: 25px;
    height: 150px;
    width: 160px;
    
}

.user-button-container{
    display: flex;
    justify-content: center;
}
.user-button-container a{
    background-color:  rgb(37, 25, 46);
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.user-button-container a:hover{
    background-color:rgb(58, 39, 73);
}

@media (max-width:1010px){
    /* When viewport is equal to or narrower than */
    .blog-index-title{
        font-size: 1.7em;
    
    }
    .blog-index-text{
        font-size: 0.8em;
        align-self: center;
    }
    .blog-index-date{
        font-size: 0.9em;
    }
}


@media (max-width:812px){
    /* When viewport is equal to or narrower than */
    .blog-index-title{
        font-size: 1.5em;
    
    }
    .blog-index-text{
        font-size: 0.7em;
        align-self: center;
    }
        .blog-index-date{
        font-size: 0.8em;
    }
}
@media (max-width:678px){
    /* When viewport is equal to or narrower than */
    .blog-index-title{
        font-size: 1.3em;
    
    }
    .blog-index-text{
        font-size: 0.6em;
        align-self: center;
    }
        .blog-index-date{
        font-size: 0.7em;
    }
}
@media (max-width:592px){
    /* When viewport is equal to or narrower than */
    .column-left {
        display: none
    
    
}
    .blog-index-title{
        font-size: 1.0em;
    
    }
}